*.gmo
*.la
*.lo
*.swp
*.tar.*
.deps
.libs
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config*
depcomp
install-sh
intltool*
libtool
ltmain.sh
missing
mkinstalldirs
panel-plugin/*.desktop
panel-plugin/*.desktop.in
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
stamp-*
m4
